# Git ignore file for Dropbox Python OAuth API demo
# include everything
!*
!.*

# ignore json data files
**.json
# ignore log files
**.log
# ignore Mac .DS_Store files
.DS_Store

# ignore Python compiled files (in case any are open)
**.pyc

# ignore Java class files
**.class
# ignore Java downloads directory
java/jar/downloads

